h1 {
    color: blueviolet;
    text-align: center;
     
}

h2 {
    color: deeppink;
    text-align: center; 
}
section{
    background-color: burlywood;
}


img { width: 200px; height: 200px; 

}


